
/*fire: '#FFA05D',
	grass: '#8FD594',
	electric: '#FFE43B',
	water: '#7E97C0',
	ground: '#CAAC4D',
	rock: '#90642D',
	poison: '#9D5B9B',
	bug: '#EAFD71',
	dragon: '#97b3e6',
	psychic: '#FF96B5',
	flying: '#CDCDCD',
	fighting: '#FF5D5D',
	normal: '#FFFFFF'*/
    body{
        background: rgb(23, 32, 48);
        font-family: 'Roboto Mono', monospace;
        margin: 0;
    }
    .contenedor {
        max-width: 1200px;
        margin: 0 auto;
        width: 95%;
    }
    .preloader{
        background: rgb(23, 32, 48);
        position: fixed;
        z-index: 102;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: left 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.486);
        width: 100vw;
        height: 100vh;
      }
      .img-menu img{
          width: 100px;
          height: 90px;
      }
    .modal {
        background: rgb(23, 32, 48);
        position: fixed;
        z-index: 101;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        transition: left 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .modal a{
        color: white;
        text-decoration: none;
    }
    .open {
      left: 0;
    }   
    .modal a {
      font-size: 24px;
      padding: 6px;
    }
    .menu{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.349);
        padding:  15px 0;
        margin-bottom: 20px;
    }
nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
nav .poke{
    margin: 0;
    color: white;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid white;
    margin-left: 5%;
}
span{
    border: 0;
}
     nav i{
        color: white;
        font-weight:lighter;
        font-size: 30px;
        cursor: pointer;
        margin-right: 5%;
    }
    .img-poke{
        text-align: center;
    }
    .img-poke img{
        width: 200px;
        height: 100px;
    }
/*--------------------------------TIPO COLORES---------------------------------------------------------------*/
.tipos{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}
.fire{
    background: #fba54c;
    box-shadow: 0 0 20px #fba54c;
    }
.grass{
    background: #5fbd58;
    box-shadow: 0 0 20px #5fbd58;
}
.electric{
    background: #f2d94e;
    box-shadow: 0 0 20px #f2d94e;
}
.water{
    background: #539ddf;
    box-shadow: 0 0 20px #539ddf;

}
.ground{
    background: #da7c4d;
    box-shadow: 0 0 20px #da7c4d;
}
.rock{
    background-color: #90642D;
}
.poison{
    background: #b763cf;
    box-shadow: 0 0 20px #b763cf;
}
.bug{
    background: #92bc2c;
    box-shadow: 0 0 20px #92bc2c; 
}
.dragon{
    background-color: #97b3e6;
}
.psychic{
    background: #fa8581;
    box-shadow: 0 0 20px #fa8581;   
}
.flying{
    background: #a1bbec;
    box-shadow: 0 0 20px #a1bbec;
}
.fighting{
    background: #d3425f;
    box-shadow: 0 0 20px #d3425f;
}
.fairy{
    background: #ee90e6;
    box-shadow: 0 0 20px #ee90e6;
}
.normal{
    background-color: #747474;
}
/*-------------------------------SEARCH-----------------------------------------------------*/
.pokedex__header-search{
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 70px;
}
.pokedex__header-search form{
    border-color: blue;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.pokedex__header-search input{
    width: 70%;
    border: none;
    outline: none;
    border: none;
      border-bottom: 2px solid white;
      background: transparent;
      outline: none;
      height: 20px;
      color: white;
      font-size: 15px;
      line-height: 2px;
      margin-bottom: 10px;
}
.pokedex__header-search form button{
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.pokedex__header-search form button img{
    max-width: 100%;
}
.pokedex__header-aline{
 display: flex;  
 width: 150px;
}
.pokedex__pokemon-content{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   }
.hidden {
    display: none;
  }
.app{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@media only screen and (max-width: 600px) {
    .app{
     grid-template-columns: repeat(2,1fr);
    }
   }
/*-----------------CARDS--------------------------------------*/
.pCards{
    background: rgb(23, 32, 48);
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}
.pCards h3{
    margin: 0;
}
.pCards .n{
    background-color: rgba(0, 0, 0, 0.548);
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}
.cards{ 
    text-align: center;
    color: black;
    padding: 10px;  
}
.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 25px;
    padding: 30px;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
    margin: auto;
}
.info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}
.t{
    border-radius: 10px;
    padding: 3px 3px;
}
.type{
    margin-bottom: 5px;
}
/* -------------------------------footer--------------------------------*/
.footer{
    padding: 10px;
    text-align: center;
    color: white;
}